build/
resources/generated/
node_modules/
.vscode/*
!.vscode/launch.json
*.o
code/*.s
*.i
resources/*/*.s
!*_asm.s
*.sprite.*
/*.d81
/*.prg
*.out
*.lbl
*.pem
docker/

# Resources
*.sex
*.ocs
*.ocb
*.ocx
*.sid
*.snd
*.snz
*.sidp

# Exomizer
*.os*
/tools/exo/*/*.prg
/tools/exo/*/deps
*.yy.c
asm.tab.*
b2membuf*
exoraw*
exobasic*
exomizer*
testrun*
sfxdecr*
*.exo

*~
