build/
resources/generated/
node_modules/
.vscode/*
!.vscode/launch.json
*.o
code/*.s
resources/*/*.s
!*_asm.s
*.sprite.*
/*.d81
/*.prg
*.out
*.lbl
*.pem
docker/

# Resources
*.sex
*.oci
*.ocx
*.sid
*.snd
*.snz
*.sidp

# Exomizer
*.os*
/tools/exo/*/*.prg
/tools/exo/*/deps
exobasic
exomizer
testrun
sfxdecr*
*.exo
